*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 95%;
    margin: 20px auto;
    background-color: rgb(236, 235, 231);
    border: 1px solid #000;
}
.menu-top {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(228, 226, 223);
}
.menu-top li {
    list-style: none;
}
.menu-top li a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}
.menu-top li .active,
.menu-top li a:active,
.menu-top li a:focus {
    color: #fff;
    background-color: green;
}

/* Input/Button */
.container select,
.container input{
    padding: 3px;
    margin-right: 5px;
    font-size: 18px;
}
.container .input {
    border: none;
    background-color: unset;
    border-bottom: 1px solid #ccc;
}
.button {
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
    padding: 5px 10px;
    outline: unset;
    border: none;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    opacity: 0.4;
}
.button:focus {
    opacity: 0.8;
}
.del {
    padding: 5px 10px;
    text-align: center;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
}



.invoice input {
    width: 100%;
}
.invoice {
    width: 100%;
    margin: 0px auto;
    padding: 10px 
}
.invoice .center-al {
    max-width: 200px;
    text-align: center;
}
.invoice .branding {
    font-size: 30px;
    text-align: center;
    overflow-x: hidden;
    position: relative;  
}
.invoice .branding h1 {
    letter-spacing: 5px;
    text-align: center;
}
.invoice .branding > b {
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: -10px;
}
.invoice .row {
    display: flex;
    /* justify-content: space-between; */
    align-items: center
}
.invoice .row h4 {
    margin: 20px 10px 10px 0px;
}
.invoice .row h4:last-child{
    font-size: 25px
}

.print_tab {
    width: 100%; 
}
.print_tab,.print_tab thead,.print_tab tbody,.print_tab tr,.print_tab tr td,.print_tab tr th {
    border: 1px solid #000;
    border-collapse: collapse
}
.print_tab thead {
    background-color: #000;
    color: #fff;
}
.print_tab thead tr th:nth-child(1){
    text-align: left;
    padding-left: 10px;
}
.print_tab tbody tr td:nth-child(1){
    padding-left: 10px;
}
.print_tab tbody tr td:nth-child(2),
.print_tab tbody tr td:nth-child(3),
.print_tab tbody tr td:nth-child(4),
.print_tab tbody tr td:nth-child(5){
    text-align: center;
    width: 100px
}
.print_tab tfoot tr th:nth-child(2){
    text-align: left;
    margin-left: 10px
}
.print_tab,.print_tab tfoot tr,.print_tab tfoot tr th {
    border: none;
}
/* Print */
@media print {
    .invoice {
    width: 100%;
    margin: 0px auto;
    padding: 10px 
    }
    .invoice .center-al {
        max-width: 200px;
        text-align: center;
    }
    .invoice .branding {
        font-size: 30px;
        text-align: center;
        overflow-x: hidden;
        position: relative;  
    }
    .invoice .branding h1 {
        letter-spacing: 5px;
        text-align: center;
    }
    .invoice .branding > b {
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: -10px;
    }
    .invoice .row {
        display: flex;
        /* justify-content: space-between; */
        align-items: center
    }
    .invoice .row h4 {
        margin: 20px 10px 10px 0px;
    }
    .invoice .row h4:last-child{
        font-size: 25px
    }

    .print_tab {
        width: 100%; 
    }
    .print_tab,.print_tab thead,.print_tab tbody,.print_tab tr,.print_tab tr td,.print_tab tr th {
        border: 1px solid #000;
        border-collapse: collapse
    }
    .print_tab thead {
        background-color: #000;
        color: #fff;
    }
    .print_tab thead tr th:nth-child(1){
        text-align: left;
        padding-left: 10px;
    }
    .print_tab tbody tr td:nth-child(1){
        padding-left: 10px;
    }
    .print_tab tbody tr td:nth-child(2),
    .print_tab tbody tr td:nth-child(3),
    .print_tab tbody tr td:nth-child(4),
    .print_tab tbody tr td:nth-child(5){
        text-align: center;
        width: 100px
    }
    .print_tab tfoot tr th:nth-child(2){
        text-align: left;
        margin-left: 10px
    }
    .print_tab,.print_tab tfoot tr,.print_tab tfoot tr th {
        border: none;
    }
}
